@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.uppernav-div{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.logo-div,p{
    margin: 10px 0px 0px 50px;
}
.logo{
    font-size: 24px;
  }
.profile-div{
    display: flex;
    flex: item;
    align-items: center;
    gap: 1.5rem;    
    font-size: 18px;
    margin: 10px 50px 0 0;
}

.profile, .contact{
    border: 1px solid black;
    border-radius: 20px;
    padding: 9px 40px ;
}




a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}


.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
}